<p><%= @employee.name %></p>
<p><%= @employee.furigana %></p>
<p><%= @employee.address %></p>
<p><%= @employee.phone %></p>
<p><%= @employee.email %></p>
<p><%= @employee.factory %></p>
<p><%= @employee.role %></p>
<p><%= @employee.job_exp %></p>
<p><%= @employee.pay_number %></p>
<p><%= @employee.started_date %></p>
<p><%= @employee.licence1 %></p>
<p><%= @employee.healthy_exam %></p>
<p><%= @employee.drive_licence %></p>
<p><%= @employee.drive_licence_date %></p>
<p><%= @employee.document %></p>
<p><%= @employee.document_date %></p>
<p><%= @employee.passport %></p>
<p><%= @employee.passport_date %></p>

  <%= link_to 'Voltar', employees_path, class: ' btn btn-primary' %>

  <%= link_to 'Novo Pedido', new_employee_request_path(@employee), class: 'btn btn-primary'  %>

<% @employee.requests.each do |request| %>
<%= request.kind_of %>
<%= request.amount %>
<%= request.request_date %>
<%= request.request_reason %>
<% end -%>
