<div class="container">
  <div class="employee_dashboard">

    <h4><%= @employee.name %></h4>

    <div class="employee_dashboard_btn">
      <%= link_to employees_path do %>
        <i class="fas fa-chevron-circle-left"></i> Back
      <% end %>
      <%= link_to new_employee_path, class: 'employee_dashboard_link' do %>
        <i class="fas fa-plus-circle"></i> New employee
      <% end %>
    </div>

    <div class="employee_dashboard_border">
      <label>Name</label>
      <p><%= @employee.name %></p>
      <label>Furigana</label>
      <p><%= @employee.furigana %></p>
      <label>Adresses</label>
      <p><%= @employee.address %></p>
      <label>Phone</label>
      <p><%= @employee.phone %></p>
      <label>Email</label>
      <p><%= @employee.email %></p>
      <label>Factory</label>
      <p><%= @employee.factory %></p>
      <label>Role</label>
      <p><%= @employee.role %></p>
      <label>Job exp</label>
      <p><%= @employee.job_exp %></p>
      <label>Pay number</label>
      <p><%= @employee.pay_number %></p>
      <label>Started date</label>
      <p><%= @employee.started_date %></p>
      <label>Licence1</label>
      <p><%= @employee.licence1 %></p>
      <label>Healthy exam</label>
      <p><%= @employee.healthy_exam %></p>
      <label>Drive licence</label>
      <p><%= @employee.drive_licence %></p>
      <label>Drive licence date</label>
      <p><%= @employee.drive_licence_date %></p>
      <label>Document</label>
      <p><%= @employee.document %></p>
      <label>Document date</label>
      <p><%= @employee.document_date %></p>
      <label>Passport</label>
      <p><%= @employee.passport %></p>
      <label>Passport date</label>
      <p><%= @employee.passport_date %></p>
      <% @employee.requests.each do |request| %>
        <%= request.kind_of %>
        <%= request.amount %>
        <%= request.request_date %>
        <%= request.request_reason %>
      <% end -%>
    </div>
  </div>
</div>